.container {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1100px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #ff9c6e;
    font-weight: 600;
}
.header p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.descr {
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.mainHeaderInfo {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: #fff2e8;
    margin: 5px 0;
}
.cardPacksWrapper {
    width: 90%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardPacksWrapper:hover {
    cursor: pointer;
}
.mainInfo {
    width:20%;
    display: flex;
    justify-content: space-between;
}

/*li button:first-of-type {*/
/*    display: none;*/
/*}*/

.card {
    padding: 10px;
    width: 20%;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttonsWrapper {
    display: flex;
}

.packs {
    display: flex;
    justify-content: space-between;
}

.modalButton,
.modalButtonSubmit {
    margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.modalButton {
    position: fixed;
    left: 5%;
    bottom: 70px;
}

form {
    padding: 50px;
}

.inputText {
    margin: 0 auto 20px;
    width: 40vw;
}


